@import "../../common/vars.css";

.header {
  display: block;
  padding: 10px 40px;
  height: 50px;
}

.logo {
  height: 50px;
  width: auto;
}

.list {
  display: inline-block;
  float: right;
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    height: 100%;
    margin: 0 10px;
    padding: 0;
    display: flex;
    align-items: center;
    a {
      color: $color-blue;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
